<ion-view view-title="comprar">
  <ion-content>
   <div class="row" ng-repeat="rows in ctrl.productos">
   		<div class="col" ng-repeat="p in rows">
   			<img height="130px" ng-src="img/{{p.imagen}}" />
   			<p><strong>{{p.nombre}}</strong></p>
   			<p><strong>{{p.precio}}</strong></p>
   			<p><strong></strong></p>
   		</div>
   	
   </div>

  </ion-content>
</ion-view>



<!--    <div class="row" ng-repeat="rows in ctrl.productos">
   		<div class="col" ng-repeat="p in rows">{{p.nombre}}</div>
   	
   </div>

   -->
